@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5";
}

@model GradeCalcModel 

<!-- inputs for grade calculator-->
<h2>Grade Calculator</h2>
<p> Please input your percentage for each of the following categories. (Don't use decimal form)</p>
<form method="post">
    <label>Assignments:</label>
    <input id="assign" asp-for="assign" /><br />
    <label>Group Project:</label>
    <input id="group" asp-for="group" /><br />
    <label>Quizzes:</label>
    <input id="quiz" asp-for="quiz" /><br />
    <label>Midterm Exam:</label>
    <input id="mid" asp-for="mid" /><br />
    <label>Final Exam:</label>
    <input id="final" asp-for="final" /><br />
    <label>INTEX:</label>
    <input id="intex" asp-for="intex" /><br /><br />
    <input id="btnsend" type="submit" value="Calculate Grade" />
    <div asp-validation-summary="All"></div>
</form>

<!-- outputting results-->
<p id="result"></p>
