@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5";
}

<!-- header -->
<h1>Katie Leituala</h1>

<!-- pic of doing something I enjoy-->
<h3>Something I Enjoy</h3>
<p>I love hanging out with my family and repelling!</p>
<img class="limit" src="img/0480D580-3765-4982-BFD9-6FF9E05A2026.jpg" />

<!-- Paragraph on what I hope to get out of this class-->
<h3>What I Hope to Get Out of 413</h3>
<p>I want to become efficent at C# and learn to use this better in a method of full stack. I hope that it will increase my ability to learn programs quickly and teach me overall better programming and problem solving skills. <p>

    <!-- List of jobs I am most interested in pursuing-->
    <h3>Top 3 Jobs I am Interested In</h3>
    <ol>
        <li>Project Managment</li>
        <li>Front End Development </li>
        <li>Analyst</li>
    </ol>

    
   